@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
* {
    box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond', serif;
}
  
body {
    background-color: black;
  }  

video {
    width: 100% !important;
    height: auto !important;
}

.forcont{
    display: grid;
    height:900vh;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 100fr 20fr 100fr 100fr 100fr 100fr 200fr 50fr;
    grid-template-areas: 
    "banner banner banner"
    "projects about contact"
    "generalVideo generalVideo generalVideo"
    "motionVideo motionVideo motionVideo"
    "foodVideo foodVideo foodVideo"
    "propertyVideo propertyVideo propertyVideo"
    "aboutUs aboutUs contactUs"
    "spacer spacer spacer";
    grid-gap: 0.5rem;
}

#banner{
    /*background:#b2fff3;*/
    grid-area: banner;
}


#projects{
    grid-area: projects;
    background-image:url(baddifilm_files/projects.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
  
}


#about{
    grid-area:about;
    background-image:url(baddifilm_files/aboutus1.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#contact {
    grid-area: contact;
    background-image:url(baddifilm_files/contactus.webp);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}


.generalVideo {
    grid-area: generalVideo;
    /*background: rgb(224, 255, 210);*/
    align-items:center;
    position:relative
}

.generalButton{
    background-image:url(baddifilm_files/gss.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
    width:100%;
    height:100%;
    /*position: relative;
    top:20vh;
    left:-20vw;*/
}

#generalShowreel{
    width: 100%; 
    height: 100%; 
    position: relative;
    z-index: -1;
}

#generalFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  
#generalLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
}

/*
.backdrop {
    width: 60%;
    height: 60%;
    background: rgb(120, 228, 255);
    border-radius: rem;
    margin: 10rem;
    position: relative;
    left: -20vw;
    top: 20vh;
}

.seeMore{
    background: rgb(255, 169, 135);
    position: relative;
    left: 10vw;
    top: -100vh;
}

.seeMore h1{
    font-size:40px;
    font-weight: lighter;
}

.seeMore a{
    text-decoration: none;

}
*/

.motionVideo {
    /*background: #ffc8b2;*/
    grid-area: motionVideo;

}

.motionButton{
    background-image:url(baddifilm_files/mg.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
    width:100%;
    height:100%;
    /*position: relative;
    top:20vh;
    left:-20vw;*/
}


#motionShowreel{
    width: 100%; 
    height: 100%; 
    position: relative;
    grid-column: 1/3;
    grid-row: 4;
    z-index: -1;
}

#motionFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  
  #motionLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
  }

#foodVideo {
    background: #ffefb2;
    grid-area: foodVideo;
}

#propertyVideo {
    background: #ffb2e9;
    grid-area: propertyVideo;
}

#aboutUs{
    background: #b2faff;
    grid-area: aboutUs;
}

#contactUs{
    background: #cab2ff;
    grid-area: contactUs;
}

#spacer{
    background: #b2d3ff;
    grid-area: spacer;
    grid-column: 1/2;
    grid-row: 8/10;
}

@media only screen and (max-width:550px){
    .forcont{
        height:400vh;
        grid-template-columns: 100fr;
        grid-template-rows: 10fr 10fr 10fr 10fr 100fr 100fr 100fr 100fr 100fr 100fr 5fr;
        grid-gap: 0.5rem;
        grid-template-areas:
        "banner"
        "projects"
        "about"
        "contact"
        "generalVideo"
        "motionVideo"
        "foodVideo"
        "propertyVideo"
        "aboutUs"
        "contactUs"
        "spacer";
    }
    .generalButton{
        background-image:url(baddifilm_files/gss.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
        width:100%;
        height:100%;
        position: absolute;
        top:50%;
        left:50%;
    }
}

@media (hover: hover){
    #projects:hover {
        cursor:pointer;
        background:url(baddifilm_files/projects.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }

    #about:hover{
        grid-area:about;
        cursor:pointer;
        background:url(baddifilm_files/aboutus.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
    #contact:hover {
        cursor:pointer;
        background:url(baddifilm_files/contactus.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
    
    .generalButton:hover{
        background-image:url(baddifilm_files/gss.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
        width:100%;
        height:100%;
        /*position: relative;
        top:20vh;
        left:-20vw;*/
    }
    
    .motionButton:hover {
        cursor:pointer;
        background-image:url(baddifilm_files/mg\ hover.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
        width:100%;
        height:100%;
        position: relative;
        z-index: 1;
    }
    
    banner{
    }
}