html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}  

.forcont{
    display: grid;
    height:500vh;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 300fr 100fr 300fr 300fr 300fr 300fr 200fr 50fr;
    grid-template-areas: 
    "banner banner banner"
    "projects about contact"
    "generalVideo generalVideo generalVideo"
    "motionVideo motionVideo motionVideo"
    "foodVideo foodVideo foodVideo"
    "propertyVideo propertyVideo propertyVideo"
    "aboutUs . contactUs"
    "spacer spacer spacer";
    grid-gap: 4rem;
}

#banner{
    background:#b2fff3;
    grid-area: banner;
}

#projects{
    grid-area: projects;
    width:100%;
    height:100%;
    background-image:url(baddifilm_files/projects.png);
    background-repeat: no-repeat;
}

#about{
    background: #ffb2e4;
    grid-area:about;
}

#contact {
    background: #b2daff;
    grid-area: contact;
}

#generalVideo {
    background: #ffb2da;
    grid-area: generalVideo;
}

#motionVideo {
    background: #ffc8b2;
    grid-area: motionVideo;
}

#foodVideo {
    background: #ffefb2;
    grid-area: foodVideo;
}

#propertyVideo {
    background: #ffb2e9;
    grid-area: propertyVideo;
}

#aboutUs{
    background: #b2faff;
    grid-area: aboutUs;
}

#contactUs{
    background: #cab2ff;
    grid-area: contactUs;
}

#spacer{
    background: #b2d3ff;
    grid-area: spacer;
}

@media only screen and (max-width:550px){
    .forcont{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 2fr 2fr 2fr 2fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "banner"
        "projects"
        "about"
        "contact"
        "generalVideo"
        "motionVideo"
        "foodVideo"
        "propertyVideo"
        "aboutUs"
        "contactUs"
        "spacer";
    }
}