@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
    box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond', serif;
}
  
body {
    background-color: black;
    font-size:100%;
  }  

video {
    width: 100% !important;
    height: auto !important;
}

p {
    color: aliceblue;
    text-align: left;
    font-size: 0.5em;
    font-weight: lighter;
}

.forcont{
    display: grid;
    height:750vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 7fr 7fr 7fr 7fr 7fr;
    grid-template-areas: 
    "banner banner banner banner banner banner"
    "project project about about contact contact"
    "generalVideo generalVideo generalVideo generalVideo generalVideo generalVideo"
    "motionVideo motionVideo motionVideo motionVideo motionVideo motionVideo"
    "foodVideo foodVideo foodVideo foodVideo foodVideo foodVideo"
    "propertyVideo propertyVideo propertyVideo propertyVideo propertyVideo propertyVideo"
    "aboutUs aboutUs aboutUs contactUs contactUs contactUs";
}

#banner{
    /*background:#b2fff3;*/
    grid-area: banner;
}
.project{
    grid-area: project;
    background-image:url(baddifilm_files/projects.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
    /*border: solid aliceblue;*/
}

.about{
    grid-area:about;
    background-image:url(baddifilm_files/aboutus1.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
   /* border: solid aliceblue;*/
}

.contact {
    grid-area: contact;
    background-image:url(baddifilm_files/contactus.webp);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}

/*
.project {
    background-image:url(baddifilm_files/projects.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: solid aliceblue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    width:100%;
}

#projects{
    grid-area: projects;
    background-image:url(baddifilm_files/projects.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}


#about{
    grid-area:about;
    background-image:url(baddifilm_files/aboutus1.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#contact {
    grid-area: contact;
    background-image:url(baddifilm_files/contactus.webp);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 70%;
}*/

#general {
    position:relative;
    grid-area: generalVideo;
    width:100%;
    height:auto;

}

.generalS{
    margin-top: 5%;
    margin-bottom: 5%;
}

.generalButton{
    background-image:url(baddifilm_files/gss.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 200%;
    width: 50vmin;
    height: 50vmin;
}

/*this part does not affect current issues*/
#generalFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }

#generalLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
    width:100%;
}


#motionVideo {
    grid-area: motionVideo;
    position:relative;
    /*background: rgb(96, 210, 255);*/
    width:100%;
    height:auto;

}

.motionS{
    margin-top: 5%;
    margin-bottom: 5%;
}

.motionButton{
    background-image:url(baddifilm_files/mg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 50vmin;
    height: 50vmin;
}

#motionFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  
#motionLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
    width:100%;
  }

#foodVideo {
   /* background: #ffefb2;*/
    grid-area: foodVideo;
    position:relative;
    width:100%;
    height:auto;
}

.foodS{
    margin-top: 5%;
    margin-bottom: 5%;
}

.foodButton{
    background-image:url(baddifilm_files/fss.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 50vmin;
    height: 50vmin;
}

#foodFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  
#foodLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
    width:100%;
}

#propertyVideo {
    /*background: #ffb2e9;*/
    grid-area: propertyVideo;
    position:relative;
    width:100%;
    height:auto;
}

.propertyS {
    margin-top: 5%;
    margin-bottom: 5%;
}
.propertyButton{
    background-image:url(baddifilm_files/pss.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 75vmin;
    height: 75vmin;
}

#propertyFade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0%;
    left:0%;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
#propertyLight {
    display: none;
    position: absolute;
    padding: 10rem;   
    top:0;
    align-items: center center;
    justify-content: center center;
    z-index: 1002;
    cursor: pointer;
    width:100%;
}


#aboutUs{
    grid-area: aboutUs;
    position:relative;
    /*background: rgb(72, 187, 172);*/
    /*border: solid white;*/
}

.aboutTitle {
    background-image: url(baddifilm_files/ABOUTUS.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
    /*border: solid aqua;*/
    width:100%;
    height:20%;
    margin-bottom: 0;
}

.description {
    padding:10rem;
    padding-top:0;
    font-size: 1em;
    line-height: 1.7;
    letter-spacing:normal;
}


#contactUs{
    max-width: 100%;
    display:grid;
    grid-area: contactUs;
    position: relative;
    left:0;
    /*background: rgb(255, 145, 82);*/
    overflow-x:auto;
    min-height: 0;
    min-width: 0; 
   /* border:solid salmon;*/
}

.contactTitle {
    background-image: url(baddifilm_files/contactus.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    width:100%;
    height:100%;
    margin-bottom: 5%;
   /* border: solid aliceblue;*/
}

.form {
    display:block;
    /*border:solid aqua;*/
    text-align: center;
}

form {
    display:inline-block;
    width:100%;
    height:100%;
}

input:not([type]), input[type="text"], input[type="tel"]{
    width: 90%;
    height:1.5vmin;
    line-height:2.5vmin;
    padding: 2.5vmin 2vmin;
    margin: 0.2vmin;
    border: 0.1vmin solid whitesmoke;
    border-radius: 0.2vmin;
    color: white;
    font-size:1em;
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    background:transparent;
  }
  
  input[type="text"]:focus{
    width: 90%;
    line-height:5%;
    padding: 2.5vmin 2vmin;
    margin: 0.2vmin;
    border-radius: 0.2vmin;
    color: white;
    font-size:1em;
    border: 0.1vmin solid #9FE2BF; 
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
  } 
  
  input[type="tel"]:focus{
    width: 90%;
    line-height:5%;
    padding: 2.5vmin 2vmin;
    margin: 0.2vmin;
    border-radius: 0.2vmin;
    color: white;
    font-size:1em;
    border: 0.1vmin solid #9FE2BF; 
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
  }
  
  textarea {
    width: 90%;
    height: 40%;
    line-height:5%;
    padding: 2.5vmin 2vmin;
    margin: 0.2vmin;
    border: 0.1vmin solid whitesmoke;
    border-radius: 0.2vmin;
    color: white;
    font-size:1em;
    background: transparent;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
  }
  
  textarea:focus {
    width: 90%;
    height: 40%;
    line-height:5%;
    padding: 2.5vmin 2vmin;
    margin: 0.2vmin;
    border-radius: 0.2vmin;
    color: white;
    font-size:1em;
    border: 0.1vmin solid #9FE2BF; 
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    
  }
  
::placeholder{
    margin: auto;
    width: 50%;
    padding: 2vmin;
    font-size: 75%;
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
  }
  
  /*input { 
    margin: auto;
    width: 100%;
    padding: 2.5vmin 2vmin;
    outline-color:  #ffffff; 
    background:transparent;
  }*/
  
.submitButton {
    background-image:url(baddifilm_files/submit\ button.png);
    background-repeat: no-repeat;
    background-color:transparent;
    background-size: 30%;
    background-position:center;
    /*border:solid aqua;*/
    border:none;
    width:100%;
    height:100%;
    cursor:pointer;
    margin-top:0;
   /* border: solid pink;*/
  }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .forcont{
        display: grid;
        height:200vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 3fr 2fr 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "banner banner banner banner banner banner"
        "project project about about contact contact"
        "generalVideo generalVideo generalVideo generalVideo generalVideo generalVideo"
        "motionVideo motionVideo motionVideo motionVideo motionVideo motionVideo"
        "foodVideo foodVideo foodVideo foodVideo foodVideo foodVideo"
        "propertyVideo propertyVideo propertyVideo propertyVideo propertyVideo propertyVideo"
        "aboutUs aboutUs aboutUs contactUs contactUs contactUs";
    }
    .foodS{
        margin-top: 30%;
        margin-bottom: 30%;
    }
}

@media only screen and (max-width:550px){
    .forcont{
        height:350vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.1fr 0.1fr 0.1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.9fr 0.7fr;
        grid-template-areas:
        "banner"
        "project"
        "about"
        "contact"
        "generalVideo"
        "motionVideo"
        "foodVideo"
        "propertyVideo"
        "aboutUs"
        "contactUs";
    }    

    .project {
        background-size: 50%;
    }

    .about {
        background-size: 50%;
    }

    .contact{
        background-size: 50%;
    }

    #generalLight {
        display: none;
        position: absolute;
        padding: 5vmin;   
        align-items: center center;
        justify-content: center center;
        z-index: 1002;
        cursor: pointer;
        width:100%;
    }

    #motionLight {
        display: none;
        position: absolute;
        padding: 5vmin;   
        align-items: center center;
        justify-content: center center;
        z-index: 1002;
        cursor: pointer;
        width:100%;
    }

    #foodLight {
        display: none;
        position: absolute;
        padding: 5vmin;   
        align-items: center center;
        justify-content: center center;
        z-index: 1002;
        cursor: pointer;
        width:100%;
    }

    #propertyLight {
        display: none;
        position: absolute;
        padding: 5vmin;   
        align-items: center center;
        justify-content: center center;
        z-index: 1002;
        cursor: pointer;
        width:100%;
    }
    
    .aboutTitle {
        background-image: url(baddifilm_files/ABOUTUS.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40%;
        /*border: solid aqua;*/
        width:100%;
        height:10%;
        margin-bottom: 5%;
    }
    
    .description {
        padding:0.5rem;
        padding-top:0;
        font-size: 1em;
        line-height: 1.7;
        letter-spacing:normal;
    }

    .form {
        display:inline-block;
        /*border:solid aqua;*/
        text-align: center;
        position:static;
        align-self: center;
        height:90%;
        width:100%;
    }
    
    form {
        display:inline-block;
        width:100%;
        height:70%;
    }

    textarea {
        width: 90%;
        height: 90%;
        line-height:5%;
        padding: 2.5vmin 2vmin;
        margin: 0.2vmin;
        border: 0.1vmin solid whitesmoke;
        border-radius: 0.2vmin;
        color: white;
        font-size:1em;
        background: transparent;
        color: white;
        font-family:'Cormorant Garamond', serif;
        font-weight: 500;
      }
      
      textarea:focus {
        width: 90%;
        height: 90%;
        line-height:5%;
        padding: 2.5vmin 2vmin;
        margin: 0.2vmin;
        border-radius: 0.2vmin;
        color: white;
        font-size:1em;
        border: 0.1vmin solid #9FE2BF; 
        color: white;
        font-family:'Cormorant Garamond', serif;
        font-weight: 500;
        
      }
     

    .submitButton {
        background-image:url(baddifilm_files/submit\ button.png);
        background-repeat: no-repeat;
        background-color:transparent;
        background-size: 50%;
        background-position:center;
        /*border:solid aqua;*/
        width:100%;
        height:100%;
        cursor:pointer;
      }

}
    

@media (hover: hover){
    .project:hover {
        cursor:pointer;
        background:url(baddifilm_files/projects.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }

    .about:hover{
        grid-area:about;
        cursor:pointer;
        background:url(baddifilm_files/aboutus.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
    .contact:hover {
        cursor:pointer;
        background:url(baddifilm_files/contactus.gif);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 70%;
    }

    .generalButton:hover {
        background-image:url(baddifilm_files/gsh.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 200%;
        width: 50vmin;
        height: 50vmin;
        cursor: pointer;
    }

    .motionButton:hover {
        background-image:url(baddifilm_files/mg\ hover.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150%;
        width: 50vmin;
        height: 50vmin;
        cursor: pointer;
    }
    
    .foodButton:hover {
        background-image:url(baddifilm_files/fsh.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150%;
        width: 50vmin;
        height: 50vmin;
        cursor: pointer;
    }
    
    .propertyButton:hover {
        background-image:url(baddifilm_files/psh.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 75vmin;
        height: 75vmin;
        cursor: pointer;
    }

    .submitButton:hover {
        background-image:url(baddifilm_files/submit.gif);
        background-repeat: no-repeat;
        background-color:transparent;
        background-size: 30%;
        background-position:center;
        /*border:solid aqua;*/
        border:none;
        width:100%;
        height:100%;
        cursor:pointer;
        margin-top:0;
      }
    
    banner{
    }

    
}
